* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ex-1-square{
    /* animation: name duration timing-function delay iteration-count direction fill-mode;
 */
    animation-name: pieno;
    animation-duration: 10s;
}

@keyframes pieno {
    from {
        border: 1px solid red;
    }
    to {
        background: red;
    }
}